body{
  font-family: 'Ubuntu', Helvetica, Arial;
}

#projects{
  margin-top: 50px;
  margin-bottom: 50px;
}

.is-horizontal-center{
  justify-content: center;
}

#profile_picture{
  max-width: 160px;
  margin-bottom: 25px;
  border-radius: 4px;
}

#stackOverflow{
  margin-top: 10px;
}

.card{
  border: 1px solid white;
}

.card:hover{
  box-shadow: 0px 0px 1px 1px #B0BEC5;
  border: 1px solid #B0BEC5;
}

@media only screen and (max-width: 1086px){
  .columns{
    padding:0px 15px 0px 15px;
  }
}
